# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE / Editor files
.vscode/
.idea/

# Operating System files
Thumbs.db
Desktop.ini
*.tmp
